<%- include ('./partials/header.ejs') %>
<%- include ('./partials/navbar.ejs') %>

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">
                <!-- judul -->
                Kelola Galeri
              </h1>
            </div>

            <!-- Content Row -->
            <div class="row">
              <!-- Content Column -->
              <div class="col-lg-12 mb-4">
                <!-- isi content -->
                <form action="/admin/gallery" method="POST">
                  <div class="form-group">
                    <label for="exampleFormControlFile1">Input Gambar</label>
                    <input
                      type="file"
                      class="form-control-file"
                      id="exampleFormControlFile1"
                    />
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput">Judul</label>
                    <input
                      type="text"
                      class="form-control"
                      id="formGroupExampleInput"
                      placeholder="judul"
                      name="judul"
                    />
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Keterangan</label>
                    <textarea
                      class="form-control"
                      id="exampleFormControlTextarea1"
                      rows="3"
                      name="desc"
                    ></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <!-- file -->
                  <section class="py-5">
                    <div class="container px-4 px-lg-5 mt-5">
                      <div
                        class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
                      >
                        <% if (galeri){ %> <% for(let i = 0; i < galeri.length ;
                        i++){ %>
                        <div class="col mb-5">
                          <div class="card h-100">
                            <!-- Product image-->
                            <img
                              class="card-img-top"
                              src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                              alt="..."
                            />
                            <!-- Product details-->
                            <div class="card-body p-4">
                              <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">
                                  <%- galeri[i].judul %>
                                </h5>
                                <!-- Product price-->
                                <%- galeri[i].desc %>
                              </div>
                            </div>
                            <!-- Product actions-->
                            <div
                              class="card-footer p-4 pt-0 border-top-0 bg-transparent"
                            >
                              <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="#"
                                  >Delete</a
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                        <% } %> <% } %>
                      </div>
                    </div>
                  </section>
                </form>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <%- include ('./partials/footer.ejs') %>
      </div>
    </div>
  </body>
</html>
